

.aegteUng-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        padding: 2% 0 ;
    }
    
}
.aegteUng-container{
       padding: 4% 22%;
    
}
.hero-text{
   text-align: center;
   margin: 2% 0;
   h1{ 
    font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 150%;
   }
}
.ung-img img{
    display: flex;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            
        }
    
.aegte-ung_vid{
    height: 500px;
    margin: 0 auto;
}
.supportProject{

    h3{
        text-align: center;
        
    }
    img{
        padding: 10px 40px;
    }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .aegte-ung_vid{
   height: 187px;
    margin: 0 auto;
}
.aegteUng-container{
       padding: 0 0;
    
}
}