.aegteUng-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.aegteUng-container{
       padding: 4% 22%;
    
}
.hero-text{
   text-align: center;
}
.ung-img{
display: flex;
justify-content: center;
    flex-direction: column;
        max-width: 100%;
        height: auto;
    }