.billet-hero {
    background-image: url(../img/hero-aabningstider.webp);
    background-size: cover;        
    background-position: center;    
    background-repeat: no-repeat;
    height: 400px;                          
    display: flex;
    flex-direction: column;
          
    color: rgb(255, 255, 255);                   
    position: relative;
    margin-top: 2rem;
    margin-left: calc(-10vw);
    margin-right: calc(-10vw);

    h1{
        margin: 12px 0px 12px 140px ;
        font-size: 48px;
        font-weight: 700;
       
        
    }
    p{
        margin-left: 140px;
        font-size: 18px;
        
    }

  }

  .billet-hero-text{
    margin-top: 6rem;
  }

  .tabs-billet {
    display: flex;
    gap: 2rem;
    margin: 80px 0px 80px 0px;
    justify-content: center;
  }
  
  .tab-billet {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .tab-billet.active {
    border-bottom: 3px solid #ECA619; /* Gul linje under aktiv tab */
  }
  
  .tab-billet-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .tab-billet-header svg {
    width: 28px;
    height: 28px;
  }
  
  .tab-billet-overskrift {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  #tab-billet-content img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  